<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content= "width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/usm/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/5b438b90f0.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../Resources/style.css">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-light navbar-light d-flex mb-3 sticky-top">
			<a class="navbar-brand mr-auto" href="#">Antenna</a>
			<ul class="navbar-nav">
			    <li class="nav-item p-2">
			      	<a class="nav-link" href="Sobre.html">Sobre</a>
			    </li>
			    <li class="nav-item p-2">
			     	<a class="nav-link" href="#">Projetos vinculados</a>
			    </li>
			     <li class="nav-item p-2">
			     	<a class="nav-link" href="#">Login</a>
			    </li>
			</ul>
		</nav>
	</div>
	<div class="container-fluid row">
		<div class="col-lg-4 row">
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/1/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/1.png">
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/2/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/2.png">
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/3/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/3.png">
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/7/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/7.png">
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/8/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/8.png">
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/9/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/9.png">
				</a>
			</div>
			<div class="col-sm-6">
				<a class="d-flex justify-content-center" href="http://www.agenda2030.org.br/ods/13/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/13.png">
				</a>
			</div>
			<div class="col-sm-6">
				<a class="d-flex justify-content-center" href="http://www.agenda2030.org.br/ods/14/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/14.png">
				</a>
			</div>
		</div>
		<div class="col-lg-4">
			<h3 class="display-4 text-center"> Conheça a agenda 2030 e seus objetivos</h3>
			<a class="d-flex justify-content-center" href="http://www.agenda2030.org.br/ods/15/">
				<img class="rounded img-fluid" style="margin-top: 50px" src="http://www.agenda2030.org.br/static/home/images/ods_icons/15.png">
			</a>
		</div>
		<div class="col-sm-4 row">
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/4/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/4.png">
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/5/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/5.png"> 
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/6/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/6.png">
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/10/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/10.png">
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/11/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/11.png">
				</a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.agenda2030.org.br/ods/12/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/12.png">
				</a>
			</div>
			<div class="col-sm-6">
				<a class="d-flex justify-content-center" href="http://www.agenda2030.org.br/ods/16/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/16.png">
				</a>
			</div>
			<div class="col-sm-6">
				<a class="d-flex justify-content-center" href="http://www.agenda2030.org.br/ods/17/">
					<img class="rounded img-fluid" src="http://www.agenda2030.org.br/static/home/images/ods_icons/17.png">
				</a>
			</div>
			
			
		</div>
	</div>	
</body>
</html>